nav.navbar.navbar-default.navbar-fixed-top.at_top.leave_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .logo
  

        a.blue_dog_logo_link(href="#header_index")
          img.navbar-brand.blue_dog_logo(src="https://upload.cc/i1/2019/09/13/lvJ8I5.png", alt="")
        a.navbar-brand.brand_text#logo_text(href="#header_index") BlueDog
          span.copyright © 
        
    #navbar.navbar-collapse.collapse
      
      ul.nav.navbar-nav.navbar-right
        li
          a#logo_text(href='#section_about') ABOUT
        li.active
          a#logo_text(href='#section_flavor')
            | FLAVOR 
            span.sr-only (current)
        li
          a#logo_text(href='#section_contact') CONTACT

header#header_index
  img(src="https://upload.cc/i1/2019/09/13/lvJ8I5.png", alt="")#mouse_icon
  .container
    .hotdog
      .img_hotdog#left
        
        img.text_hot1.move_text(src="https://upload.cc/i1/2019/09/13/bn0FXC.png", alt="")
        img.left.move(src='https://upload.cc/i1/2019/09/13/0ratYk.png')
        img.text_dog1.move_text(src="https://upload.cc/i1/2019/09/13/BjyDzZ.png", alt="")
        .bar1
        .bar2
        
      .img_hotdog#middle
        img.text_hot2.move_text(src="https://upload.cc/i1/2019/09/13/7RJqGE.png")
        img.middle.move(src="https://upload.cc/i1/2019/09/13/8KuT2p.png")
        img.text_dog2.move_text(src="https://upload.cc/i1/2019/09/13/6exDkU.png")
        .bar3
        .bar4
        
      .img_hotdog#right
        img.text_hot3.move_text(src="https://upload.cc/i1/2019/09/13/GnIjth.png", alt="")
        img.right.move(src="https://upload.cc/i1/2019/09/13/xiJucs.png", alt="")
        img.text_dog3.move_text(src="https://upload.cc/i1/2019/09/13/6uYCzt.png", alt="")
        .bar5
          
      .img_hotdog#side
        img.text_hot4.move_text(src="https://upload.cc/i1/2019/09/13/jM4Fdc.png", alt="")
        img.side.move(src="https://upload.cc/i1/2019/09/13/5Bk6bg.png", alt="")
        img.text_dog4.move_text(src="https://upload.cc/i1/2019/09/13/wG5ZQX.png", alt="")
       
    a.explore.at_top(href="#section_about") EXPLORE
    
section#section_about
 
  .container
    .row
      .col-md-6.about_intro
        .about
          h1.intro1 HOW TO MAKE BlueDog© HOTDOG?
          h3.intro2 LET'S FIND OUT OUR 4 LAYERS OF CLASSIC HOD DOG !
          a.btn.btn-lg.btn-default.order_now_btn(href="#section_flavor") ORDER NOW
      .col-md-6.img_hotdog
        .img_hotdot_all
          .img_hotdog_detail
          
            .hotdog_title_text BlueDog© Classic
            .hovertext.sauce_text Secret BlueDog© Sauce
            .hovertext.hotdog_text The Best Hot Dog Ever
            .hovertext.pickle_text With Some Pickle
            .hovertext.hotdogbun_text Homemade Soft Bun
            
            
            img.hotdogbun1(src="https://upload.cc/i1/2019/09/13/OiNqx0.png", alt="")
            img.pickle2(src="https://upload.cc/i1/2019/09/13/XtNZ4Y.png", alt="")
            img.hotdog3(src="https://upload.cc/i1/2019/09/13/F9yLJk.png", alt="")
            img.pickle5(src="https://upload.cc/i1/2019/09/13/U4vmKi.png", alt="")
            img.sauce4(src="https://upload.cc/i1/2019/09/13/4iBUpn.png", alt="")
            img.hotdogbun6(src="https://upload.cc/i1/2019/09/13/2GozPy.png", alt="")
            img.arrow(src="https://upload.cc/i1/2019/09/13/GouwMQ.png", alt="")
            
section#section_flavor
  
  .container
    .title#title
      h1.flavor_title1 HOT DOGS OR SAUSAGES? 
      h3.flavor_title2 DON'T WORRY, EVERYTHING HERE IS TASTY!
      
      
    
    .icon.original
      img.original_img#hotdogimg(src="https://upload.cc/i1/2019/09/13/6fpKL4.png", alt="")
      .intro.original
        h2.ori.flavor_move BlueDog© Original
        h3.ori_about Homemade, Fresh, Juicy
    .icon.polish
      img.polish_img#hotdogimg(src="https://upload.cc/i1/2019/09/13/5sfjmA.png", alt="")
      .intro.polish_hotdog
        h2.pol Kielbasa (Polish)
        h3.pol_about Smoky, Mild, Sweet
    .icon.german
      img.german_img#hotdogimg(src="https://upload.cc/i1/2019/09/13/NG0PRp.png", alt="")
      .intro.german_hotdog
        h2.ger Brätwurst (German)
        h3.ger_about Salty, Mild, Gingery
    .icon.italian
      img.italian_img#hotdogimg(src="https://upload.cc/i1/2019/09/13/yGLozr.png", alt="")
      .intro.italian_hotdog
        h2.ita Italian
        h3.ita_about Sweet, Spicy, Garlicky
    .icon.maxican
      img.maxican_img#hotdogimg(src="https://upload.cc/i1/2019/09/13/9i4waL.png", alt="")
      .intro.maxican_hotdog
        h2.max Chorizo (Mexican)
        h3.max_about Smoky, Spicy, Aromatic
  
  
section#section_contact
  
  img.bgi(src="https://upload.cc/i1/2019/09/13/RHx28u.png", alt="")
  .container
    .row
      .col-md-6.contact
        h1 SUBSCRIBE!
        h3 GET OUR NEWS, COUPON, OR FEEDBACK!
        .row.contact_detail
          .col-sm-6
            label.name Name
            input.name_input(type="text")
          .col-sm-6
            label.name Email
            input(type="text")
        label.content Content
        textarea
        h4 FOLLOW ON
        a.fab.fa-facebook-square(href="https://www.facebook.com/")
        a.fab.fa-instagram(href="https://www.instagram.com/")
        a.fab.fa-twitter(href="https://twitter.com/home")
        a.fab.fa-youtube(href="https://www.youtube.com")
  img.hotdogs(src="https://upload.cc/i1/2019/09/18/OCpLf3.png", alt="")
        
          
footer#footer 
  .logo
    img.icon(src="https://upload.cc/i1/2019/09/13/lvJ8I5.png", alt="")
    .rights 2019 BlueDog©. All Rights Reserved

   
  

  
 
    
   
    
    